<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head.html" . }}
    {{ $styles := resources.Get "css/main.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">
    <link rel="stylesheet" href="https://unpkg.com/@phosphor-icons/web@2.1.1/src/regular/style.css">
    {{ block "head_extra" . }}{{ end }}
  </head>
  <body>
    {{ partial "icons-sprite.html" . }}
    {{ partial "header.html" . }}
    <main id="main-content">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ $script := resources.Get "js/site.js" | resources.Minify | resources.Fingerprint }}
    <script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}" defer></script>
  </body>
</html>
